# Ignora archivos de configuracion Drupal
/web/sites/*/*settings*.php
/web/sites/*/*services*.yml
/composer.lock
/web/sites/*/translations
/web/sites/*/tmp
/web/sites/*/cache
/web/sites/*/php
/web/sites/*/css
/web/sites/*/js
