{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<div class="text-center tw-mt-4">
  <input class="tw-bg-black hover:tw-bg-blue-700 tw-cursor-pointer tw-text-white active:tw-bg-gray-700
 tw-text-sm tw-font-bold tw-uppercase tw-py-3 tw-px-6 tw-rounded tw-shadow hover:tw-shadow-lg tw-outline-none
tw-focus:outline-none tw-mr-1 tw-mb-1 tw-w-full" {{ attributes }} /> {{ children }}
</div>
